In [2]:
import numpy as np
import pandas as pd
import os

In [11]:
root_dir = os.path.dirname(os.getcwd())
data_filename = os.path.join(root_dir, 'data/boost_df.csv')

df = pd.read_csv(data_filename)

__Ideas:__
- Does lead time affect required boosts
- Predict next boost need by current boost size
- Dynamically adjust boosts based on other factors?
- Are different boosts required at different start times?
- How to deal with drivers anticipating boosts?
- Come up with experiment recommendations (extra)
- Are claims associated with total price or total boost?

In [12]:
df

,trip_id,timestamp,boost_number,boost_amount,base_plus_boost,claimed,total_price,base_price,total_driver_supply,metro_area,trip_start_date
0,1,2022-12-30 12:00:00,0,0.00,10.00,0,10.00,10.0,202,SFO,2023-01-01 00:00:00
1,1,2022-12-30 12:05:00,1,1.76,11.76,0,11.76,10.0,263,SFO,2023-01-01 00:00:00
2,1,2022-12-30 12:10:00,2,2.04,12.04,0,13.80,10.0,203,SFO,2023-01-01 00:00:00
3,1,2022-12-30 12:15:00,3,1.78,11.78,1,15.58,10.0,201,SFO,2023-01-01 00:00:00
4,2,2022-12-30 13:00:00,0,0.00,35.00,0,35.00,35.0,242,ATL,2023-01-01 01:00:00
...,...,...,...,...,...,...,...,...,...,...,...
119830,19999,2025-04-11 18:05:00,1,1.75,36.75,1,36.75,35.0,234,SFO,2025-04-13 06:00:00
119831,20000,2025-04-11 19:00:00,0,0.00,14.00,0,14.00,14.0,183,MSP,2025-04-13 07:00:00
119832,20000,2025-04-11 19:05:00,1,1.83,15.83,0,15.83,14.0,172,MSP,2025-04-13 07:00:00
119833,20000,2025-04-11 19:10:00,2,1.81,15.81,0,17.64,14.0,193,MSP,2025-04-13 07:00:00
119834,20000,2025-04-11 19:15:00,3,1.74,15.74,1,19.38,14.0,186,MSP,2025-04-13 07:00:00

In [19]:
df.groupby('metro_area').boost_number.mean()

metro_area
ATL    3.364571
DEN    3.331745
DET    3.362132
DFW    3.380118
LAS    3.285098
LAX    3.313852
MCL    3.349751
MSP    3.310283
NYC    3.308372
PDX    3.332531
SDF    3.331492
SFO    3.355098
STL    3.280121
TPA    3.360084
Name: boost_number, dtype: float64

In [21]:
df.groupby('metro_area').total_driver_supply.mean()

metro_area
ATL    299.363987
DEN    149.251430
DET    119.111332
DFW    189.461199
LAS     89.430371
LAX    748.006318
MCL    129.469995
MSP    179.163440
NYC    249.545861
PDX     99.622176
SDF    199.346796
SFO    219.646415
STL    139.565294
TPA    159.680623
Name: total_driver_supply, dtype: float64